/* src/components/Dashboard.css */
.dashboard {
    margin-left: 200px;
    /* padding: 50px 20px; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin-top: 50px;
  }
  
  .sales-orders {
    width: 800px;
    margin-right: 10px;
    
  }
  /* .portion-sales{
width: 40%;
  }  */
  