/* src/components/SalesVsOrdersGraph.css */
.sales-vs-orders {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    
  }
  
  .stats-box {
    position: absolute;
    top:250px;
    left: 350px;
    margin-bottom: 10px;
    font-size: 10px;

  }
  .heading{
    align-content: center;
    display: flex;
    align-items: center;
  }
  .graph {
    position: relative;
    height: 400px;
    padding: 50px;
  }
  
  .info-icon {
    font-size: 12px;
    color: #888;
  }
  